.banner-controller {
    position: absolute;
    margin-top: 10%;
    right: 3%;
    li {
        a {
            height: 18px;
            width: 18px;
            display: block;
            background: url(../img/controller.png);
            margin-bottom: 0;
            &.active {
                background: url(../img/controller-active.png);
            }
        }
        &:last-child {
            a {
                margin-bottom: 0;
            }
        }
        
    }
}