* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.font-icon, .star::after, .comprar::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #B6B8C7; }
  .font-icon.star:hover, .star:hover::after, .star.comprar:hover::before {
    color: #FF8C00;
    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear; }

.w-full {
  width: 100%; }

.container, .footer .container-footer {
  max-width: 970px;
  margin: 0 auto; }

.box, .header, .conteudo, .footer {
  float: left;
  width: 100%; }

.gradient, .footer .box-footer .b-contatos li a {
  background-image: -webkit-linear-gradient(to bottom, #FABE00, #E99A00);
  background-image: -o-linear-gradient(to bottom, #FABE00, #E99A00);
  background-image: -moz-linear-gradient(to bottom, #FABE00, #E99A00);
  background-image: linear-gradient(to bottom, #FABE00, #E99A00); }

.header {
  min-height: 130px;
  margin-top: 15px; }
  .header .logo {
    margin: 7px auto;
    text-align: center; }

.menu-principal {
  float: right;
  margin: 0;
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin: 10px 0; }
  .menu-principal li {
    width: 100%;
    float: left;
    list-style: none; }
    .menu-principal li a {
      padding: 10px;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      background: #000;
      color: #FFF;
      margin-bottom: 5px; }
      .menu-principal li a:hover {
        background-color: rgba(34, 34, 34, 0.9);
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear; }

.lista-produtos {
  margin: 35px 0 75px 0;
  float: left;
  width: 100%; }
  .lista-produtos li {
    float: left;
    width: 100%;
    min-height: 415px; }
    .lista-produtos li:hover {
      background: #F3F3F3;
      -webkit-transition: background-color 500ms linear;
      -moz-transition: background-color 500ms linear;
      -o-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear; }
  .lista-produtos .box-produtos {
    padding: 24px 14.84% 10px;
    float: left;
    width: 69.32%; }
  .lista-produtos h2 {
    font-size: 15px;
    padding-top: 18px;
    text-align: center;
    min-height: 34px; }
  .lista-produtos .rank {
    text-align: center;
    margin: 14px 0; }
  .lista-produtos .valor {
    text-align: center;
    font-size: 13px; }
    .lista-produtos .valor strong:first-child {
      display: block; }
  .lista-produtos .comprar {
    background: #000;
    padding: 10px;
    display: block;
    width: 124px;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    font-style: italic;
    text-align: center;
    margin: 24px auto 10px; }
    .lista-produtos .comprar:hover {
      background-color: rgba(34, 34, 34, 0.9);
      -webkit-transition: background-color 500ms linear;
      -moz-transition: background-color 500ms linear;
      -o-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear; }
  .lista-produtos .economize {
    padding: 7px 17px;
    border: 1px solid #C5C5C5;
    display: block;
    font-size: 10px;
    text-align: center; }

.footer {
  background: url(../img/bg-footer.jpg) repeat; }
  .footer ul {
    float: left; }
  .footer .container-footer {
    height: 206px; }
  .footer .box-footer {
    margin: 30px auto 0;
    float: none;
    max-width: 275px;
    min-height: 200px; }
    .footer .box-footer div[class^=b-], .footer .box-footer p, .footer .box-footer a {
      float: left;
      font-size: 14px;
      margin-bottom: 10px; }
    .footer .box-footer p {
      line-height: 25px;
      margin-top: 6px; }
    .footer .box-footer .b-contatos, .footer .box-footer .b-contatos li {
      width: 100%; }
    .footer .box-footer .b-contatos li a {
      width: 100%;
      min-height: 40px;
      padding-bottom: 5px;
      margin-bottom: 8px;
      display: block; }
      .footer .box-footer .b-contatos li a span.text {
        width: 135px;
        float: left;
        color: #000;
        font-size: 12px;
        text-transform: uppercase; }
      .footer .box-footer .b-contatos li a:before {
        content: ' ';
        height: 40px;
        width: 44px;
        float: left; }
      .footer .box-footer .b-contatos li a.tel span {
        margin-top: 15px; }
      .footer .box-footer .b-contatos li a.im span {
        margin-top: 6px; }
      .footer .box-footer .b-contatos li a.tel::before {
        background: url(../img/icon-tel.png) center no-repeat; }
      .footer .box-footer .b-contatos li a.im::before {
        background: url(../img/icon-im.png) center no-repeat; }
  .footer .estado {
    height: 41px;
    line-height: 41px;
    padding-left: 10px;
    width: 48px;
    float: left;
    font-weight: bold;
    background: url(../img/bg-estado.png) no-repeat; }

.star::after {
  content: "\f006"; }

.comprar::before {
  content: "\f07a";
  color: #FFF;
  margin-right: 4px; }

.banner-controller {
  position: absolute;
  margin-top: 10%;
  right: 3%; }
  .banner-controller li a {
    height: 18px;
    width: 18px;
    display: block;
    background: url(../img/controller.png);
    margin-bottom: 0; }
    .banner-controller li a.active {
      background: url(../img/controller-active.png); }
  .banner-controller li:last-child a {
    margin-bottom: 0; }

@media screen and (min-width: 485px) {
  .menu-principal li {
    width: 49.5%; }
    .menu-principal li:first-child {
      margin-right: 1%; }

  .lista-produtos li {
    width: 50%; }
  .lista-produtos li:not(:nth-child(2n))::after {
    content: ' ';
    float: left;
    width: 1px;
    height: 334px;
    background: #E1E1E1;
    margin-top: 40px; }

  .footer .box-footer {
    max-width: 85%; }
    .footer .box-footer p {
      font-size: 12px; }
    .footer .box-footer .b-contatos {
      width: 40%; }
    .footer .box-footer .b-contatos li a span.text {
      width: 115px; }
    .footer .box-footer .b-contatos li a.tel span {
      margin-top: 10px; }
  .footer .box-endereco {
    float: left;
    width: 60%; }

  .banner-controller {
    margin-top: 14%; }
    .banner-controller li a {
      margin-bottom: 14px; } }
@media screen and (min-width: 854px) {
  .header .logo {
    text-align: left;
    margin-left: 20px;
    float: left; }

  .menu-principal {
    width: 56.70103%;
    margin-top: 52px; }
    .menu-principal li {
      width: auto; }
      .menu-principal li:first-child {
        margin-right: 1.54639%; }
    .menu-principal li a {
      padding: 5px 50px; }

  .lista-produtos li {
    width: 25%; }
  .lista-produtos li:not(:last-child)::after {
    content: ' ';
    float: left;
    width: 1px;
    height: 334px;
    background: #E1E1E1;
    margin-top: 40px; }

  .footer .box-footer .b-contatos {
    width: 30%; }
  .footer .box-footer .b-contatos li a span.text {
    width: 135px; }
  .footer .box-footer .b-contatos li a.tel span {
    margin-top: 16px; }
  .footer .box-endereco {
    width: 70%; }
  .footer .b-endereco:first-child {
    margin-right: 44px; } }

/*# sourceMappingURL=style.css.map */
