*{
    margin: 0;
    padding: 0;
}

$wsite : 970px;

@function convertePxPorcent($px, $contexto){
  @return (($px / $contexto) * 100%);
}
@mixin transition-custom($nome, $ms, $tipo) {
    -webkit-transition: $nome $ms $tipo;
    -moz-transition: $nome $ms $tipo;
    -o-transition: $nome $ms $tipo;
    -ms-transition: $nome $ms $tipo;
    transition: $nome $ms $tipo;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

.font-icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #B6B8C7;
    &.star:hover {
        color: #FF8C00;
        @include transition-custom(color, 1000ms, linear)
    }
}
.w-full {
    width: 100%;
}

.container {
    max-width: $wsite;
    margin: 0 auto;
}

.box {
    float: left;
    width: 100%;
}
.gradient {
    background-image: -webkit-linear-gradient(to bottom, #FABE00,  #E99A00);
    background-image: -o-linear-gradient(to bottom, #FABE00,  #E99A00);
    background-image: -moz-linear-gradient(to bottom, #FABE00,  #E99A00);
    background-image: linear-gradient(to bottom, #FABE00,  #E99A00);
}

.header {
    @extend .box;
    min-height: 130px;
    margin-top: 15px;
    .logo {
        margin: 7px auto;
        text-align: center;
    }
}


.menu-principal {
    float: right;
    margin: 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    li {
        width: 100%;
        float: left;
        list-style: none;        
        a {
            padding: 10px;
            height: 30px;
            line-height: 30px;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            background: #000;
            color: #FFF;
            margin-bottom: 5px;
            &:hover {      
                background-color: rgba(34,34,34,0.9);        
                @include transition-custom(background-color, 500ms, linear);
            }
        }
    }
}

.conteudo {
    @extend .box;
}

.lista-produtos {
    margin: 35px 0 75px 0;
    float: left;
    width: 100%;
    li {
        float: left;
        width: 100%;
        min-height: 415px;
        &:hover {
            background: #F3F3F3;
            @include transition-custom(background-color, 500ms, linear);
        }
    }
    .box-produtos {
        padding: 24px 14.84% 10px;
        float: left;
        width: 69.32%;
    }
    h2 {
        font-size: 15px;
        padding-top: 18px;
        text-align: center;
        min-height: 34px;
    }
    .rank{
        text-align: center;
        margin: 14px 0;
    }
    .valor {
        text-align: center;
        font-size: 13px;
        strong:first-child {
            display: block;
        }
    }
    .comprar {
        background: #000;
        padding: 10px;
        display: block;
        width: 124px;
        text-transform: uppercase;
        font-size: 14px;
        color: #FFF;
        font-style: italic;
        text-align: center;
        margin: 24px auto 10px;
        &:hover {
            background-color: rgba(34,34,34,0.9);
            @include transition-custom(background-color, 500ms, linear);
        }
    }
    .economize {
        padding: 7px 17px;
        border: 1px solid #C5C5C5;
        display: block;
        font-size: 10px;
        text-align: center;
    }
}

.footer {
    @extend .box;
    background: url(../img/bg-footer.jpg) repeat;
    ul {
        float: left;
    }
    .container-footer {
        @extend .container;
        height: 206px;
    }
    .box-footer {
        margin: 30px auto 0;
        float: none;
        max-width: 275px;
        min-height: 200px;    
        div[class^=b-], p, a {
            float: left;
            font-size: 14px;
            margin-bottom: 10px;    
        }
        p {
            line-height: 25px;
            margin-top: 6px;
        }
        .b-contatos, .b-contatos li {
            width: 100%;
        }
        .b-contatos li a{
            @extend .gradient;
            width: 100%;
            min-height: 40px;
            padding-bottom: 5px;
            margin-bottom: 8px;
            display: block;
            span.text {            
                width: 135px;
                float: left;
                color: #000;
                font-size: 12px;
                text-transform: uppercase;
            }
            &:before {
                content: ' ';
                height: 40px;
                width: 44px;
                float: left;
            }

            &.tel {
                span{
                    margin-top: 15px;
                }
            }
            &.im {
                span{
                    margin-top: 6px;
                }
            }
            &.tel::before {        
                background: url(../img/icon-tel.png) center no-repeat;
            }
            &.im::before {        
                background: url(../img/icon-im.png) center no-repeat;
            }
        }
    } 
    .estado {
        height: 41px;
        line-height: 41px;
        padding-left: 10px;
        width: 48px;
        float: left;
        font-weight: bold;
        background: url(../img/bg-estado.png) no-repeat;
    }    
}
.star::after {
    @extend .font-icon;
    content: "\f006";
}
.comprar::before {
    @extend .font-icon;
    content: "\f07a";
    color: #FFF;
    margin-right: 4px;
}

@import 'banner-mobile.scss';

@media screen and (min-width: 485px) {
    .menu-principal {        
        li {
            width: 49.5%;
            &:first-child {
                margin-right: 1%;                
            }
        }
    }
    .lista-produtos {
        li {
            width: 50%;
        }
        li:not(:nth-child(2n))::after {
            content: ' ';
            float: left;
            width: 1px;
            height: 334px;
            background:#E1E1E1;
            margin-top: 40px;
        }
    }
    .footer {
        .box-footer {
            max-width: 85%;
            p {
                font-size: 12px;
            }
            .b-contatos {
                width: 40%;
            }
            .b-contatos li a {
                span.text {
                    width: 115px;
                }
                &.tel span {
                    margin-top: 10px;
                }
            }
        }
        .box-endereco {
            float: left;
            width: 60%;
        }
    }
    @import 'banner.scss';
}
@media screen and (min-width: 854px) {
    .header {
        .logo {
            text-align: left;
            margin-left: 20px;
            float: left;
        }
    }
    .menu-principal {
        width:  convertePxPorcent(550px, $wsite);
        margin-top: 52px;   
        li {
            width: auto;
            &:first-child {
                margin-right: convertePxPorcent(15px, $wsite);
            }
        }
        li a{
            padding: 5px 50px;
        }
    }
    .lista-produtos {
        li {
            width: 25%;
        }
        li:not(:last-child)::after {
            content: ' ';
            float: left;
            width: 1px;
            height: 334px;
            background:#E1E1E1;
            margin-top: 40px;
        }
    }
    .footer {
        .box-footer {
            .b-contatos {
                width: 30%;
            }
            .b-contatos li a {
                span.text {
                    width: 135px;
                }
                &.tel span {
                    margin-top: 16px;
                }
            }
        }
        .box-endereco {
            width: 70%;
        }
        .b-endereco {
            &:first-child {
                margin-right: 44px;
            }
        }
    }
}


